.iconoCarrito {
	width: 30px;
	height: 30px;
}

.btnCarrito {
	border: none;
	background-color: orange;
	margin-right: 20px;
	cursor: pointer;
}

.contadorCarrito {
	border: 1px solid white;
	border-radius: 50%;
	background-color: black;
	color: white;
}
