@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Chivo&family=Courgette&family=Metal&family=Mouse+Memoirs&family=Noto+Sans:wght@300&family=Permanent+Marker&family=Satisfy&family=Secular+One&display=swap");

.linkNav {
	margin: 20px;
	text-decoration: none;
	list-style: none;
	display: inline;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: orange;
	border-bottom: 2px black solid;
	height: 50%;
	width: 100%;
	flex-direction: column;
}
.logo {
	width: 70%;
	height: 70%;
	padding: 1%;
}

.btnNav {
	font-size: 80%;
	font-family: "Secular One", sans-serif;
	border: none;
	box-shadow: 3px 3px 1px black;
	background-color: orange;
	cursor: pointer;
	text-decoration: none;
	padding: 2%;
}

.btnNavActive {
	font-size: 80%;
	font-family: "Secular One", sans-serif;
	border: none;
	box-shadow: 3px 3px 1px black;
	background-color: rgb(156, 202, 113);
	cursor: pointer;
	text-decoration: none;
	padding: 2%;
}
nav ul {
	width: 100%;
	height: 100%;
}
