.input {
	padding: 1%;
	width: fit-content;
	border: 2px solid black;
	border-radius: 2%;
	background-color: orange;
}

.contenedorInputOrder {
	display: flex;
	align-items: center;
	margin: auto;
}

@media (max-width: 660px) {
	.contenedorInputOrder {
		flex-direction: column;
	}
}
